<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jortr.approbado">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opcion"
            android:label="@string/title_activity_opcion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cunam"
            android:label="@string/title_activity_cunam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cipn"
            android:label="@string/title_activity_cipn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cuam"
            android:label="@string/title_activity_cuam"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>