<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jortr.approbado">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opcion"
            android:label="@string/title_activity_opcion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cunam"
            android:label="@string/title_activity_cunam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cipn"
            android:label="@string/title_activity_cipn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cuam"
            android:label="@string/title_activity_cuam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestIpnCB"
            android:label="@string/title_activity_test_ipn_cb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestIpnCS"
            android:label="@string/title_activity_test_ipn_cs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestIpnIN"
            android:label="@string/title_activity_test_ipn_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestUamCBE"
            android:label="@string/title_activity_test_uam_cbe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestUamCSH"
            android:label="@string/title_activity_test_uam_csh"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestUamCA"
            android:label="@string/title_activity_test_uam_c"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestUnamBS"
            android:label="@string/title_activity_test_unam_bs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestUnamCS"
            android:label="@string/title_activity_test_unam_cs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestUnamFMI"
            android:label="@string/title_activity_test_unam_fmi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestUnamHA"
            android:label="@string/title_activity_test_unam_h"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>